<div *ngIf="display">
    <button align = "right" (click)="close()">X</button>
    <table>
        <tr *ngIf="cart_.quantity != 0">
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
        </tr>
        <tr *ngFor="let item of cart_.cart">
            <th>
                {{item.name}}
            </th>
            <th>
                {{item.price * item.quantity}}
            </th>
            <th>
                <button (click)="remove(item)">-</button>
               {{item.quantity}}
                <button (click)="add(item)">+</button>
            </th>

        </tr>
        <p *ngIf="cart_.quantity == 0">
            Cart is empty
        </p>
        <p>total Price: {{ cart_.price }}</p>
    </table>
    
</div>
