<div *ngIf="(display | async)">
    <button align = "right" (click)="close()">X</button>
    <table>
        <tr *ngIf="(quantity | async) != 0">
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
        </tr>
        <tr *ngFor="let item of (cart | async)">
            <th>
                {{item.name}}
            </th>
            <th>
                {{item.price * item.quantity}}
            </th>
            <th>
                <button (click)="remove(item)">-</button>
               {{item.quantity}}
                <button (click)="add(item)">+</button>
            </th>

        </tr>
        <p *ngIf="(quantity | async) == 0">
            Cart is empty
        </p>
        <p>total Price: {{(totalPrice | async)}}</p>
    </table>
    
</div>
